body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    background-color: lightgray;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    background-image: url(./images/colorfulbackgroundartmusic.jpg);
    background-size: cover;
    background-position: center;
    opacity: 95%;
}

.box {
    text-align: center;
    background-color: darkgray;
    padding: 20px;
    border: 2px grey;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 0 10px black;
    margin-bottom: 100px;
    align-items: center;
    /* display: flex; */
    flex: column;
}

h1 {
    margin-bottom: 20px;
}

.score-display {
    position: absolute;
    top: 45px;
    right: 45px;
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: wheat;
}

.message {
    margin: 20px 0;
    font-size: 20px;
    padding: 10px 20px;
    display: none;
    font-weight: bold;
}

#you-win {
    color: blue;
}

#game-over {
    color: red;
}

.piano {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.key {
    width: 50px;
    height: 150px;
    margin: 0 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.key.active {
    background-color: yellow;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 100%;
}

.control-button {
    width: 100px;
    height: 50px;
    border: 2px white;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

#start {
    background-color: wheat;
    position: absolute;
    bottom: 45px;
    right: 45px;
}

#reset {
    background-color: lightcoral;
    position: absolute;
    bottom: 45px;
    left: 45px;
}

.cat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

#cat-image {
    width: 200px;
    height: auto;
    opacity: 1;
}

#crowd-image {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: none;
    z-index: -1;
}
/* 
.message-bubble {
    display: none;
    position: absolute;
    background-color: white;
    top: -50px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    z-index: 3;
}

#game-over {
    left: 60px;
}

#you-win {
    right: 60px;
} */